header{
    padding: 20px 0;
    text-align: center;
    background-color: rgb(248, 23, 61);
    width: 100%;

    
    
}

header h1{
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
}

header img{
    width: 75px;
    height: 75px;
}