.poke-div p{
    /* background-color: rgb(248, 23, 61); */
    background-color: rgb(245, 220, 220);
    color: rgb(248, 23, 61);
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}


.poke-div img{
    width: 60%;
    /* padding-left: 15%; */
}

.poke-div-sprites{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
}

.poke-div{
    width: 100%;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
}